@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-exo: 'Exo', sans-serif;
	--font-blinker: 'Blinker', sans-serif;
}

@layer base {	
	:root {
		@apply font-exo font-light decoration-2;
	}
}

@layer components {
	a:hover {
		@apply text-orange-600;
	}
	button:hover {
		@apply text-orange-600;
	}
	.text-input {
		@apply rounded-2xl p-2 grow;
	}
	.button-primary {
		@apply bg-orange-600 p-2 rounded-2xl;
	}
}